{% extends 'base-back.html.twig' %}

{% block title %}
    {% if type == "user" %}
        {% trans %}
        titles.showUser
        {% endtrans %}
    {% else %}
        {% trans %}
        titles.showAdmin
        {% endtrans %}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between">
        {% if type=="user" %}
            <a href="{{ path('app_user_index') }}" class="btn btn-primary">
                <i class="align-middle" data-feather="arrow-left"></i>
            </a>
        {% else %}
            <a href="{{ path('app_admin_index') }}" class="btn btn-primary">
                <i class="align-middle" data-feather="arrow-left"></i>
            </a>
        {% endif %}
        <div class="d-flex">
            {% if type=="user" %}
            {{ include('admin_user/_delete_form.html.twig') }}
                <a href="{{ path('app_user_edit', {'type': type, 'id': user.id}) }}" class="btn btn-primary ms-3">
                    <i class="align-middle" data-feather="edit-2"></i>
                </a>
            {% else %}
            {{ include('admin_user/_delete_admin_form.html.twig') }}
                <a href="{{ path('app_admin_edit', {'type': type, 'id': user.id}) }}" class="btn btn-primary ms-3">
                    <i class="align-middle" data-feather="edit-2"></i>
                </a>

            {% endif %}
        </div>
    </div>

    <h1>
        {% if type == "user" %}
            {% trans %}
            titles.showUser
            {% endtrans %}
        {% else %}
            {% trans %}
            titles.showAdmin
            {% endtrans %}
        {% endif %}
    </h1>

    <table class="table">
        <tbody>
            {% if is_granted("ROLE_SUPERADMIN") %}
                <tr>
                    <th>
                        {% trans %}
                        tableHeaders.id
                        {% endtrans %}
                    </th>
                    <td>
                        {{ user.id }}
                    </td>
                </tr>
            {% endif %}
            {# <tr>
                            <th>Roles</th>
                            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                        </tr> #}
            {# <tr>
                            <th>Password</th>
                            <td>{{ user.password }}</td>
                        </tr> #}
            <tr>
                <th>
                    {% trans %}
                    tableHeaders.name
                    {% endtrans %}
                </th>
                <td>
                    {{ user.name }}
                </td>
            </tr>
            <tr>
                <th>
                    {% trans %}
                    tableHeaders.firstname
                    {% endtrans %}
                </th>
                <td>
                    {{ user.firstname }}
                </td>
            </tr>
            <tr>
                <th>
                    {% trans %}
                    tableHeaders.institution
                    {% endtrans %}
                </th>
                <td>
                    {{ user.institutionName }}
                </td>
            </tr>
            <tr>
                <th>
                    {% trans %}
                    tableHeaders.businessAddress
                    {% endtrans %}
                </th>
                <td>
                    {{ user.businessAddress }}
                </td>
            </tr>
            <tr>
                <th>
                    {% trans %}
                    tableHeaders.city
                    {% endtrans %}
                </th>
                <td>
                    {{ user.city }}
                </td>
            </tr>
            <tr>
                <th>
                    {% trans %}
                    tableHeaders.zipcode
                    {% endtrans %}
                </th>
                <td>
                    {{ user.zipcode }}
                </td>
            </tr>
            <tr>
                <th>
                    {% trans %}
                    tableHeaders.country
                    {% endtrans %}
                </th>
                <td>
                    {{ user.country }}
                </td>
            </tr>
            <tr>
                <th>
                    {% trans %}
                    tableHeaders.email
                    {% endtrans %}
                </th>
                <td>
                    <a href="mailto:{{ user.email }}">
                        {{ user.email }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>
                    {% trans %}
                    tableHeaders.mobilePhone
                    {% endtrans %}
                </th>
                <td>
                    <a href="tel:{{ user.mobilePhone }}">
                        {{ user.mobilePhone }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>
                    {% trans %}
                    tableHeaders.isWaitingCertificate
                    {% endtrans %}
                </th>
                <td>
                    {{ user.isWaitingCertificate ? '<i class="align-middle text-success" data-feather="check-circle"></i>' : '<i class="align-middle text-danger" data-feather="x-circle"></i>' }}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
