{% extends 'base-back.html.twig' %}

{% block title %} {% trans %}titles.speciality{% endtrans %}{% endblock %}

{% block body %}
<div class="d-flex justify-content-between">
<a href="{{ path('app_admin_speciality_index') }}" class="btn btn-primary"><i class="align-middle" data-feather="arrow-left"></i></a>
<div class="d-flex">
{{ include('admin_speciality/_delete_form.html.twig') }}
<a href="{{ path('app_admin_speciality_edit', {'id': speciality.id}) }}" class="btn btn-primary ms-3">
<i class="align-middle" data-feather="edit-2"></i></a>
</div>
</div>
<h1>{% trans %}titles.speciality{% endtrans %}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}tableHeaders.id{% endtrans %}</th>
                <td>{{ speciality.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}tableHeaders.name{% endtrans %}</th>
                <td>{{ speciality.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}tableHeaders.isActive{% endtrans %}</th>
                <td>{{ speciality.isActive ? '<i class="align-middle text-success" data-feather="check-circle"></i>' : '<i class="align-middle text-danger" data-feather="x-circle"></i>' }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
