<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="index.html">
            <span class="align-middle">
                Admin Nerlyfe Invesigator Meeting                 
            </span>
        </a>
        <ul class="sidebar-nav">
            <li class="sidebar-item active">
                <a class="sidebar-link" href="{{ path('app_admin_dashboard') }}">
                    <i class="align-middle" data-feather="sliders"></i>
                    <span class="align-middle">
                        {% trans %}
                        menus.dashboard 
                        {% endtrans %}
                    </span>
                </a>
            </li>
            <li class="sidebar-header">
                {% trans %}
                menus.titles.block1 
                {% endtrans %}
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="{{ path('app_admin_index') }}">
                    <i class="align-middle" data-feather="users"></i>
                    <span class="align-middle">
                        {% trans %}
                        menus.admins 
                        {% endtrans %}
                    </span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="{{ path('app_user_index') }}">
                    <i class="align-middle" data-feather="users"></i>
                    <span class="align-middle">
                        {% trans %}
                        menus.users 
                        {% endtrans %}
                    </span>
                </a>
            </li>
            {% if is_granted('ROLE_SUPERADMIN') %}
            <li class="sidebar-item">
                <a class="sidebar-link" href="{{ path('app_admin_speciality_index') }}">
                    <i class="align-middle" data-feather="award"></i>
                    <span class="align-middle">
                        {% trans %}
                        menus.specialities 
                        {% endtrans %}
                    </span>
                </a>
            </li>
            {% endif %}
            <li class="sidebar-header">
            {% trans %}
            menus.titles.block4
            {% endtrans %}
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="{{ path('app_admin_home_index') }}">
                    <i class="align-middle" data-feather="home"></i>
                    <span class="align-middle">
                        {% trans %}
                        menus.home 
                        {% endtrans %}
                    </span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="{{ path('app_admin_programs_index') }}">
                    <i class="align-middle" data-feather="list"></i>
                    <span class="align-middle">
                        {% trans %}
                        menus.programs 
                        {% endtrans %}
                    </span>
                </a>
            </li>
            <li class="sidebar-item">
            <a class="sidebar-link" href="{{ path('app_admin_contact_index') }}">
                <i class="align-middle" data-feather="mail"></i>
                <span class="align-middle">
                    {% trans %}
                    menus.contact 
                    {% endtrans %}
                </span>
            </a>
            </li>
            {% if useAlonis %}
            <li class="sidebar-header">
                {% trans %}
                menus.titles.block2 
                {% endtrans %}
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="">
                    <i class="align-middle" data-feather="video"></i>
                    <span class="align-middle">
                        {% trans %}
                        menus.sessionAlonis 
                        {% endtrans %}
                    </span>
                </a>
            </li>
            {% endif %}
            {% if useMaxiqa %}
            <li class="sidebar-header">
                {% trans %}
                menus.titles.block3 
                {% endtrans %}
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="">
                    <i class="align-middle" data-feather="bar-chart-2"></i>
                    <span class="align-middle">
                        {% trans %}
                        menus.sessionMaxiqua 
                        {% endtrans %}
                    </span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
